.result-card {
  align-content: center;
}

.result-card-img {
  background-image: url('../media/sample-nutrition-label-ca.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
}

.btn-preview-pdf {
  margin-right: 3%;
  /* margin-bottom: 1%; */
}

.btn-flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.pdf-viewer-container {
  overflow: 'scroll';
  height: 800;
  max-width: 800px;
}

canvas {
  max-width: inherit !important;
}

/* PDFReader {
  object-fit: contain;
} */

.pdf-reader {
  max-width: inherit !important;
}

.msg-box {
  color: red;
  font-weight: bold;
}
