// Variable Overrides
$body-bg: #ededed;

$theme-colors: (
  "primary": rgb(0, 190, 140),
  "secondary": rgba(210, 250, 240, 0.8)
);

.jumbotron {
  background-color: #ffffff !important;
  border-top: 3px solid rgb(219, 219, 219);
}

// background images setting
body {
  // background-image: url('/media/background.jpeg');
  background-image: linear-gradient(rgb(225,255,240), rgb(0,190,140));
  margin: 0;
  min-height: 100vh;
}

nav {
  border-bottom: 3px solid rgb(0, 190, 140);
}

.border {
  border-width: thin !important;
  border-radius: 20px !important;
}

.brand {
  background-image: url('/media/nuxpert.png');
  height: 50px;
  width: 65px;
  background-size: contain;
  background-repeat: no-repeat;
}


// .background-main {
//   background-image: url('/media/background.jpeg');
// }

.icon-user {
  background-image: url('/media/user_homepage.png');
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-report {
  background-image: url('/media/report-icon.png');
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-reupload {
  width: 100%;
}


// Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";