.dnd{
    width: 630px;
    height: 200px;
    padding: 20px;
    background-image: url('../media/upload-box.png');
    background-repeat: no-repeat;
    background-position: center;
}

.dropbox{
    border: 1px solid black;
    width: 600px;
    height: 200px;
    color: black;
    padding: 20px;
}