.search-form{
    border: none;
    background-color:transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    border-bottom: 2px solid grey;
}

.search-icon{
    background-repeat: no-repeat;
    background-position: center;
    background: transparent;
    border: transparent;
    background-image: url('../media/research-icon.png');
    background-size: 30px;
}
