.search-form{
    border: none;
    background-color:transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    border-bottom: 2px solid grey;
}

.seach-component{
    justify-items: space-around;
}
